html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  width: 200px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: none;
}

input {
  border: 1px solid #BEBEBE;
}

button {
  padding: 15px;
  transition-duration: .2s;
}

button:hover {
  color: #FAFAFA;
  cursor: pointer;
  background-color: #BBBBBB;
}

button:active {
  background-color: #B4B4B4;
  transform: scale(.9);
}

.dashboard {
  width: 250px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.data-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.data-container span {
  padding: 10px;
}

.data-container span:nth-child(1) {
  background-color: #949494;
  border-radius: 30px 0 0 30px;
  color: #FFF;
}

.data-container span:nth-child(2) {
  background-color: #DEDEDE;
  border-radius: 0 30px 30px 0;
  border: 2px solid #98AFAF;
}